:root{
    --outerColor:#bae6fd;
    --bgColor:#f0f9ff;
    --fontColor:#a21caf ;
}
  
.form-container{

    display: flex;
    background-color: var(--bgColor);
    width: 30%;
    height: 80vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    top:15%;
    max-width: 40%;
    min-width: 30%
    
}
.form{

    width:100%;     

}
.form>h1{
    margin-top: 1rem;
    text-align: center;
    color: var(--fontColor);

}
.form-element{
    /* border:2px solid green; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 3rem;
    margin-left:2rem;
    margin-right:2rem;
}
.tag{
    margin-top:3rem
}
.form-element input{
    box-sizing: border-box;
    outline: none;
    background-color: var(--bgColor);
    border-top:none;
    border-left:none;
    border-right:none;
    border-color: var(--outerColor);
    margin-top: 10px;

}
.form-element textarea{
    box-sizing: border-box;
    outline: none;
    background-color: var(--bgColor);
    border-top:none;
    border-left:none;
    border-right:none;
    border-color: var(--outerColor);
    margin-top: 10px;

}
.form-element>label{
    color: var(--fontColor);
}
#submit-btn{
    display: block;
    margin: auto;
    width:50%;
    height:4vh;
    background-color: var(--outerColor);
    border: none;
    border-radius: 12px;
    color: var(--fontColor);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}