.note-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    /* left:38rem; */
    width: inherit;
    /* margin-top: 1rem; */
}
.hide{
    display: none;
}